.row {
    margin-left: 4%;
    color: white;
}

.row_title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
    gap: 10px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_item {
    position: relative;
    transition: transform 450ms;
    cursor: pointer;
}

.row_item:hover {
    transform: scale(1.08);
    z-index: 10;
}

.row_itemLarge:hover {
    transform: scale(1.1);
    z-index: 10;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    border-radius: 4px;
}

.row_posterLarge {
    max-height: 250px;
}

.row_item_info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    opacity: 0;
    transition: opacity 300ms;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.row_item:hover .row_item_info {
    opacity: 1;
}

.row_item_title {
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .row_poster {
        max-height: 80px;
    }

    .row_posterLarge {
        max-height: 200px;
    }
}