.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 4%;
    height: 70px;
    z-index: 100;
    display: flex;
    justify-content: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}

.nav_black {
    background-color: #111;
    padding: 15px 4%;
}

.nav_contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav_logo {
    cursor: pointer;
    width: 90px;
    object-fit: contain;
}

.nav_links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav_links li {
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
    color: #e5e5e5;
}

.nav_links li:hover {
    color: #b3b3b3;
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_icon {
    cursor: pointer;
}

.nav_avatar {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .nav_links {
        display: none;
    }
}