.app_container {
    display: flex;
    background-color: #000;
    min-height: 100vh;
    overflow-x: hidden;
}

.main_content {
    flex: 1;
    margin-left: 68px;
    /* Width of the sidebar */
    position: relative;
    width: calc(100% - 68px);
}

.rows_container {
    margin-top: -80px;
    padding: 0 4%;
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .app_container {
        flex-direction: column;
    }

    .main_content {
        margin-left: 0;
        width: 100%;
        padding-bottom: 60px;
        /* Space for mobile bottom bar */
    }

    .rows_container {
        margin-top: -50px;
    }
}