.banner {
    color: white;
    object-fit: contain;
    height: 85vh;
    position: relative;
}

.banner_contents {
    margin-left: 4%;
    padding-top: 15vh;
    height: 190px;
}

.banner_title {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    max-width: 60%;
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 40%;
    height: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.banner_buttons {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.banner_button_play {
    cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.banner_button_play:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.banner_button_info {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    background-color: rgba(109, 109, 110, 0.7);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.banner_button_info:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.banner_fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

@media only screen and (max-width: 768px) {
    .banner_title {
        font-size: 2.5rem;
        max-width: 90%;
    }

    .banner_description {
        font-size: 0.9rem;
        max-width: 90%;
        width: auto;
    }
}